.download {
    margin: auto;
    font-size: 16px;
}
h1 {
    font-size: 20px;
    margin: auto;
}
h2 {
    font-size: 20px;
    margin: auto;
}
#downloadHeader {
    font-size: 26px;
    margin: auto;
}